<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block titulo %}
    <title>
        FakePinterest
    </title>
    {% endblock %}
</head>
{% block body %}
<body>
<h1>fake pinterest</h1>


{% block formulario %}

<form method="POST">
    {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email }}

        {{ form.senha.label() }}
        {{ form.senha }}

        {{ form.confirmacao_botao() }}
</form>

{% endblock %}

</body>
{% endblock %}
</html>